* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

div {
  display: block;
}
html {
  transition: all 0.3ms ease;
  scroll-behavior: smooth;
  /* cursor: url("https://img.icons8.com/fluent/48/000000/cursor--v2.png"), auto; */
  cursor: url("../res/cursor/normal.png"), auto;
}
a {
  cursor: url("../res/cursor/normal.png"), auto;
}

/* -------------------------------------------------------
Nav-Bar
------------------------------------------------------- */

.navbar {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  margin: auto;
  transition: all 0.5s ease;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgb(255, 255, 255);
}
.sticky {
  padding: 5px 30px;
}

.navbar .nav-menu li {
  list-style: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 40px;
}

.navbar .nav-logo img {
  width: 30px;
}

.nav-logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
.nav-link {
  font-family: "Hind", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.nav-link:hover {
  color: #bbff00;
}

/* ----hamburger---- */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/* -----------------------------------------------------
Image Slider
----------------------------------------------------- */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.jssorb031 {
  position: absolute;
}
.jssorb031 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb031 .i .b {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.3;
  display: none;
}
/* .jssorb031 .i:hover {
  cursor: url("../res/cursor/normal.png"), auto;
} */

.jssorb031 .i:hover .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-opacity: 0.5;
}
.jssorb031 .iav .b {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
}
.jssorb031 .i.idn {
  opacity: 0.3;
}
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora051:hover {
  cursor: url("../res/cursor/normal.png"), auto;
}
.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}
.jssora051:hover {
  opacity: 0.8;
}
.jssora051.jssora051dn {
  opacity: 0.5;
}
.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}
/* -------------------------------------------------------
Buy
------------------------------------------------------- */
.buynow {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(233, 229, 229); */
  perspective: 1000px;
  transform: 1000px;
  transform-style: preserve-3d;
}
.buy-card {
  widows: 220px;
  text-align: center;
  /* background: rgb(205, 224, 247); */
  background: #7fe2ff;
  padding: 30px 0;
  border-radius: 5px;
  /* margin-top: 150px; */
  box-shadow: 0px 20px 30px #7fe2ff;
  transform-style: preserve-3d;
}
/* .buy-card:hover {
  background: #195190FF;
} */

.buynow .buy-card img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 3px dotted;
  transform-style: preserve-3d;
  transform: translateZ(40px);
}
.buynow .buy-card h1 {
  transform-style: preserve-3d;
  transform: translateZ(40px);
  font-family: "Ubuntu", sans-serif;
  /* color: #ffa500; */
  font-size: 35px;
}
.buynow .buy-card p {
  transform-style: preserve-3d;
  transform: translateZ(40px);
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.buynow .buy-card .buy-button p {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 24px;
  font-family: "Signika", sans-serif;
  transition: all 0.5s;
  margin-top: 20px;
}
.buynow .buy-card .buy-button p:hover {
  cursor: url("../res/cursor/normal.png"), auto;
}

.buynow .buy-card .buy-button .buynow-button {
  background: #00f009;
}
.buynow .buy-card .buy-button .learnmore-button {
  background: #4382e0;
}

.buynow .buy-card .buy-button p:before {
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: -100%;
  left: -100%;
  background: blue;
  transition: all 0.5s;
  z-index: -1;
}
.buynow .buy-card .buy-button .buynow-button:before {
  background: #ff4fa5;
}
.buynow .buy-card .buy-button .learnmore-button:before {
  background: #ff4fa5;
}
.buynow .buy-card .buy-button p:hover {
  color: white;
}
.buynow .buy-card .buy-button p:hover:before {
  top: 0;
  left: 0;
}
/* -----------------------------------------------------
About card
----------------------------------------------------- */
.aboutcards {
  /* background-color: rgb(232, 237, 255); */
  display: flex;
  /* min-height: 90vh; */
  /* width: 3060px; */
  /* vertical-align: middle; */
}

.about-container {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
.about-container .card {
  border-radius: 10px;

  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 50px 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.about-container .card:hover {
  height: 420px;
}
.about-container .card .imgbx {
  position: relative;
  max-width: 260px;
  height: 260px;
  top: -100px;
  left: 20px;
  z-index: 1;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
}
.about-container .card .imgbx h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: rgb(86, 86, 219);
  font-weight: bold;
}
/* .container .card .imgbx p {
  opacity: 0;
} */
.about-container .card .imgbx img {
  max-width: 100%;
  border-radius: 4px;
}
.about-container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.about-container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
.about-container .card .content h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  color: rgb(105, 168, 2);
}
.about-container .card .content p {
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
}
/* -----------------------------------------------------
About-Us
----------------------------------------------------- */
/* .about-us {
  min-height: 100vh;
} */
.about-us .about-main {
  text-align: center;
}
.about-us h1 {
  font-size: 70px;
  font-family: "Itim", cursive;
}
.about-us p {
  font-size: 30px;
  font-family: "Asar", serif;
  padding: 0px 5%;
}
.about-us p i {
  color: red;
  padding-left: 10px;
}
/* ---------------------------------------------------------
Features
--------------------------------------------------------- */
.features {
  margin-top: 50px;
}
.features .feature-title {
  font-size: 70px;
  font-family: "Itim", cursive;
  text-align: center;
  padding-bottom: 30px;
}
.feature-head {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.feature-para {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
.col-text {
  height: 20em;
}
.grid-flex {
  padding: 0 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  /* -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around; */
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position: center center;
}
/* ---------------------------------------------------------
Gallery
--------------------------------------------------------- */
.gallery {
  background: #fff;
}
.gallery .gallery-title {
  padding-top: 50px;
  font-size: 70px;
  font-family: "Itim", cursive;
  text-align: center;
}

.gallery-container {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.main .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.main .card {
  color: #252a32;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.main .card-image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 70%;
  background: #ffffff;
}
.main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----------------------------------------------------
Reveal on scroll
----------------------------------------------------- */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* -----------------------------------------------------
Responsive
----------------------------------------------------- */
@media (max-width: 1200px) {
  .nav-logo {
    font-size: 30px;
  }
}
@media (max-width: 950px) {
  .nav-logo {
    font-size: 25px;
  }
  .nav-link {
    font-size: 15px;
  }
  .navbar .nav-logo img {
    width: 20px;
  }
  /* .container .card .imgbx p {
    opacity: 1;
  } */
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .buynow .buy-card h1 {
    font-size: 30px;
  }
  .buynow .buy-card p {
    font-size: 15px;
  }
  .buynow .buy-card .buy-button p {
    font-size: 19px;
  }
  .about-us h1 {
    font-size: 60px;
  }
  .about-us p {
    font-size: 25px;
  }
  .features .feature-title {
    font-size: 60px;
  }
  .gallery .gallery-title {
    font-size: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .main .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 640px) {
  .grid-flex {
    padding: 0 0;
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .col {
    order: vertical;
  }
  .col-left {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .col-text {
    align-items: initial;
  }
}
@media (max-width: 500px) {
  .about-us h1 {
    font-size: 50px;
  }
  .features .feature-title {
    font-size: 50px;
  }
  .about-us p {
    font-size: 20px;
  }
  .gallery .gallery-title {
    font-size: 50px;
  }
}
